<!DOCTYPE HTML>
<html>
<head>
    <title>Axiomatic Semantics - $title$</title>
    <link href="/favicon.ico" rel="shortcut icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,900" rel="stylesheet" />
    <script>
        window._skel_config = { 
            preset: 'standard',
            prefix: '/css/style',
            resetCSS: true,
            breakpoints: {
             '1000px': {
                grid: {
                    gutters: 20
                }   
             }   
           }   
        };
    </script>
    <script src="/js/skel.min.js"></script>

    <noscript>
        <link rel="stylesheet" href="/css/skel-noscript.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/style-desktop.css" />
    </noscript>
    <!--[if lte IE 8]>
    <script src="/js/html5shiv.js"></script>
    <link rel="stylesheet" href="/css/ie8.css" />
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
</head>
<body class="right-sidebar">

<!-- Header Wrapper -->
<div id="header-wrapper" class="wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">

                <!-- Header -->
                <div id="header">           
                    <!-- Logo -->
                    <div id="logo">     
                        <h1><a href="#">Axiomatic Semantics</a></h1>
                        <span class="byline">Brute force solutions with proofs by intimidation</span>
                    </div>
                    <!-- /Logo -->
                    <!-- Navigation -->
                    <nav id="nav">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/about.html">About</a></li>
                            <li><a href="/contact.html">Contact</a></li>
                            <li><a href="/archive.html">Archive</a></li>
                            <li><a href="/atom.xml">Feed</a></li>
                            <!--TODO: Change this link to a fontawesome feed icon -->
                        </ul>
                    </nav>
                    <!-- /Navigation -->
                </div>
                <!-- /Header -->

            </div>
        </div>
    </div>
</div>
<!-- /Header Wrapper -->
<!-- Main Wrapper -->
<div class="wrapper wrapper-style2">
    <div class="container">
        <div class="row">
            <div class="12u">

                <!-- Main -->
                <div id="main">
                    <div>
                        <div class="row">
                            $body$
                        </div>
                    </div>
                </div>
                <!-- /Main -->

            </div>
        </div>
    </div>
</div>
<!-- /Main Wrapper -->

<!-- Footer Wrapper -->
<div id="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">

                <!-- Footer -->
                <div id="footer">
                     <!-- Copyright -->
                     <div id="copyright">
                         <span>
                             &copy; 2013 - Tim DuBois - Powered by <a href="http://jaspervdj.be/hakyll">Hakyll</a>
                         </span>
                      </div>
                       <!-- /Copyright -->
                </div>
                <!-- Footer -->

            </div>
        </div>
    </div>
</div>
<!-- /Footer Wrapper -->

</body>
</html>
