<article class="is is-post">
    <header class="style1">
        <h2>$title$</h2>
        $if(byline)$<span class="byline">$byline$</span>$endif$
    </header>
    $if(image)$<div class="image image-featured">
        <img src="/images/$image$" alt="" />
    </div>$endif$

    <div class="info">Posted on $date$</div>

    $body$
    <!--TODO: link next and previous posts in tags div -->
    <div id="tags"><span><div class="left">$if(previousPage)$<a href="$previousPage$">«Previous</a>$else$ ... $endif$ |</div> &nbsp; $if(tags)$ $tags$ $endif$ &nbsp; <div class="right">| $if(nextPage)$<a href="$nextPage$">Next»</a>$else$ ... $endif$</div></span></div>
</article>
