<div class="10u">
<div class="thowidth">
<article class="is is-post">
    <header class="style1">
        <h2 id="title">$title$</h2>
        $if(byline)$<span class="byline">$byline$</span>$endif$
        <span id="url" class="abstract">$url$</span>
    </header>
    $if(image)$<div class="image image-featured">
        <img src="/images/$image$" alt="" />
    </div>$endif$

    <div class="info">Posted on $date$</div>
    $body$

    <div id="disqus_thread"></div>
    <script src="/js/disqpost.js"></script>


    <div id="tags"><span><div class="left">$if(nextPost)$<a href="$nextPost$">« Next</a>$else$ &nbsp; $endif$</div> &nbsp; $if(tags)$ $tags$ $endif$ &nbsp; <div class="right">$if(prevPost)$<a href="$prevPost$">Previous »</a>$else$ &nbsp; $endif$</div></span></div>
</article>
</div>
</div>
