<article class="is is-post">
    <header class="style1">
        <h2>$title$</h2>
        $if(byline)$<span class="byline">$byline$</span>$endif$
    </header>
    $if(image)$<div class="image image-featured">
        <img src="/images/$image$" alt="" />
    </div>$endif$

    <div class="info">Posted on $date$</div>

    $body$
    <!--TODO: link next and previous posts in tags div -->
    <div id="tags"><span><a href="#"><div class="left">«Previous</a> |</div> &nbsp; $if(tags)$ $tags$ $endif$ &nbsp; <div class="right">| <a href="#">Next»</a></div></span></div>
</article>
